.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  width: 12px;
  height: 12px;
  transition: 0.5s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: #95bef3;
  width: 48px;
  height: 48px;
  border: 14px solid #ffffff;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  gap: 8px !important;
  width: 1180px !important;
  height: 40px;
}

@media (max-width: 1439px) {
  .swiper-pagination {
    display: none !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 7px 40px rgba(19, 78, 155, 0.1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px;
  font-weight: bold;
  color: #545d6a;
}
