@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.woff);
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.woff);
}
