@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.woff);
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat.woff);
}
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.woff);
}
@font-face {
  font-family: Robotobold;
  src: url(./assets/fonts/Roboto-bold.woff);
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins.woff);
}
